<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Whitespace</string>
	<key>ordering</key>
	<array/>
	<key>uuid</key>
	<string>2FB97C0E-454B-4E8D-B5A1-FE0B9921381F</string>
</dict>
</plist>
